*{
    margin: 0;
    padding:0;
}
body{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    
}
a{
    color:black;
    text-decoration: none;
    margin-right:100px;
}
#bold{
    font-weight: bold;
}
.header a:hover{
    width: 100px;
    height:100%;
    background-color: lightgrey;
}
.header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    
}
#img{
    width:100%;
    height:auto;
}
#background{
    background-color: rgb(57, 49, 49);
    
}
.img{
    display: flex;
    margin-bottom: 100px;
}
.content{
    margin-left: 1%;
}
.project-img img{
    width:100%;
}

.text{
    position: absolute;
    
    background-color: black;
    color:white;
}
.project-img{
    height: 150px;
    width: 300px;
    display: flex;
    margin-right: 100px;
}
.cards{
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card{
    width: 300px;
    height: 350px;
    margin-right: 20px;
}
.card img{
    width: 100%;
    height:50%;
}
#grey{
    color:gray;
}
.link{
    width: 300px;
    background-color:lightgray;
    
    text-align: center;
}
#in{
    width: 80%;
    margin-top: 20px;
    
}
#sub{
    margin-top: 50px;
    background-color:black;
    color:white;
    border:none;
    width: 200px;
}
#sub:hover{
    background-color: gray;
    color: white;
}
#contact{
    margin-bottom: 100px;
}
.end{
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
}